name: Stage flow

on:
  push:
    branches-ignore:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  install-cache:
    name: Install cache
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Commit
        uses: actions/checkout@v5

      - name: Cache npm dependencies
        id: cache-ci
        uses: actions/cache@v4
        with:
          path: |
            node_modules
            ~/.npm
          key: ${{ runner.os }}-node-modules-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-modules-

      - name: Install Dependencies
        if: steps.cache-ci.outputs.cache-hit != 'true'
        run: npm ci

  deploy:
    name: Deploy to Server
    runs-on: ubuntu-latest
    needs:
      - install-cache
    steps:
      - name: Pull code
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd /home/ubuntu/frontend/stage
            git fetch
            git reset --hard origin/${{ github.ref_name }}

      - name: Deploy to S3
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd /home/ubuntu/frontend/stage
            
            source .env.stage

            docker build -f Dockerfile.stage \
            --target deploy \
            --build-arg AWS_ACCESS_KEY_ID=$AWS_ACCESS_KEY_ID \
            --build-arg AWS_SECRET_ACCESS_KEY=$AWS_SECRET_ACCESS_KEY \
            --build-arg AWS_DEFAULT_REGION=$AWS_DEFAULT_REGION \
            --build-arg S3_BUCKET=$S3_BUCKET \
            --build-arg AWS_ENDPOINT=$AWS_ENDPOINT \
            -t frontend-stage:latest .

      - name: Build frontend
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd /home/ubuntu/frontend/stage
  
            docker compose -f docker-compose.stage.yml --env-file .env.stage down -v
            docker compose --env-file .env.stage -f docker-compose.stage.yml build --no-cache
            docker compose --env-file .env.stage -f docker-compose.stage.yml up -d
